.place-wrapper{
    min-height: 350px;
    padding: 18px;
    width:25vw;
    float:left;
    box-sizing: border-box;
    margin:12px 8px;
    background-color: white;
    min-width: 260px;
    cursor: pointer;
    max-height: 300px;
    text-align: center;
}

.placeImg {
    width:300px;
    height:200px;
}


.hovered-state {
    background-color: hsl(0deg 0% 90%)!important;
}

.checked {
    color: orange;
  }