.wrapper{
    min-height: 320px;
    padding: 18px;
    width:25vw;
    float:left;
    box-sizing: border-box;
    margin:5vw 2vw;
    background-color: hsl(48deg 100% 93%);
    min-width: 260px;
    cursor: pointer;
}

.title {
    margin-bottom: 6px;
    font-size: 1.5em;
    font-weight: 600;
    text-align:center;
    color:black;
}

.placeImg {
max-width:80%;
max-height:65%;
margin-left:10%;

}

.details {
    padding-left:10%;
}

.hovered-state {
    background-color: hsl(48deg 40% 93%)!important;
}

.checked {
    color: orange;
  }