.sideWrapper {
    width: 20vw;
    border-right: 1px solid black;
    height: 90vh;
    background-color: #d4a2dd;
    padding-top: 15px;
    box-sizing: border-box;
    float: left;
}

.sideDetails {
    font-size: 1.2em;
    margin-bottom: 15px;
    text-align: center;
}

.sideDetailsLabel {
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

.m-t-15 {
    margin-top: 15px;
}

.sideBarImg {
    width: 90%;
    height: 30%;
    margin-left: 5%;
}