.place-details-wrapper {
  display: flex;
  cursor: pointer;
  justify-content: center;
  margin: 0px 16px;
  flex-wrap: wrap;


> div {
  min-width: 400px;
  width: 30vw;
  background-color: white;
  margin: 16px;
  text-align: center;
  padding: 8px 4px 0px 4px;
  height: 500px;
  &:hover {
    background-color: hsl(0deg 0% 90%) !important;
  }
}

}

.title {
  height: 25px;
}
img {
  height: calc(100% - 29px);
  width: 100%;
}