.place-details-wrapper {
  display: flex;
  justify-content: center;
  margin: 0px 16px;
  flex-wrap: wrap;
  gap: 32px;

  > div {
    cursor: pointer;

    min-width: 400px;
    width: 30vw;
    background-color: white;
    text-align: center;
    height: 500px;
    &:hover {
      background-color: hsl(0deg 0% 90%) !important;
    }
  }
}

.title {
  height: 25px;
}
img {
  height: calc(100% - 29px);
  width: 100%;
}
