.container {
  margin: 32px;
  max-width: 450px;
}

.group {
  display: flex;
  align-items: center;
  min-height: 50px;
  div {
    height: 100%;
  }
  gap: 8px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttons {
  display: flex;
  gap: 5px;
}
